<h2 class="mt-4">Users</h2>
<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Type</th>
          <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <% allUsers.forEach(user => { %>
            <tr data-toggle="tooltip" data-placement="right" title="_id: <%= user._id %>">
                <th scope="row"><%= user.name %></th>
                <td><%= user.email %></td>
                <td><%= user.userType %></td>
                <td><a href="#">Delete</a></td>
            </tr>
        <% }) %>        
    </tbody>
</table>