<body class="d-flex flex-column min-vh-100">
    <div class="wrapper flex-grow-1"></div>
    <footer class="bg-light">
        <div class="container text-center">
            <span class="align-middle">Have a suggestion? Contact us <a href="../contact">here</a>!</span>
            <div>
                <small class="align-middle"> Copyright &copy; <%= new Date().getFullYear();%> Dovydas Šnipaitis </small>
            </div>
        </div>
    </footer>
</body>