<header>
    <nav class="navbar navbar-expand-mg navbar-dark bg-primary">
        <a class="navbar-brand" href="/dashboard">LiveXML</a>
        <ol class="nav nav-pills">
            <li><a href="/datatables/new" class="nav-link active">Create DataTable</a></li>
            <li><a href="/datatables/shared" class="nav-link active">Shared DataTables</a></li>
            <li><a href="/datatables/presets" class="nav-link active"> DataTable Presets</a></li>
            <li><a href="/users/preferences" class="nav-link active">Preferences</a></li>
            <li><a href="/users/logout" class="nav-link active">Logout</a></li>
        </ol>
    </nav>
</header>