<div class="form-group">
    <h2 class="text-center mt-4">Leave us your feedback!</h2>
    <form action="">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        
    </form>
</div>