<h1 class="mt-4">Dashboard</h1>
<% if(empty === false) { %>
    <h3>Your DataTables</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Table Name</th>
                <th scope="col" class="text-right">Date Created</th>
            </tr>
        </thead>
        <% userTables.forEach(datatable => { %>
            <tbody>
                <tr data-toggle="tooltip" data-placement="right" title="_id: <%= datatable._id %>">
                    <th scope="row"><a href="datatables/<%= datatable._id %>"><%= datatable.tableName %></a></th>
                    <td class="text-right"><%= new Date(datatable.dateCreated).toLocaleString("lt-LT") %> </td>
                </tr>
            </tbody>
        <% }); %> 
    </table>
<% } else { %>
    <h4>No DataTables</h4>
    <a href="/datatables/new">Create new DataTable</a>
<% } %> 

