<div class="text-center">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    width="400px" viewBox="0 0 200 70" enable-background="new 0 0 200 70" xml:space="preserve">
    <g>
      <g>
        <path d="M27.3,28.7h5.1v15.6h9.1v4.5H27.3V28.7z"/>
        <path d="M47.3,28.7h5.1v20.1h-5.1V28.7z"/>
        <path d="M68.9,48.8h-5.8l-6.1-20.1h5.3l3.8,15h0.1l3.8-15h5.3L68.9,48.8z"/>
        <path d="M80,28.7h15.5v4.2H85.1v3.6h9.6v4h-9.6v3.8h10.7v4.5H80V28.7z"/>
      </g>
      <path d="M127.8,19.9h7.8l3.5,14h0.1l3.5-14h7.8v21h-5V25h-0.1l-4.3,16h-4.1l-4.3-16h-0.1v16h-5V19.9z"/>
      <path d="M158,19.9h5.3v16.3h9.5v4.7H158V19.9z"/>
      <rect x="102" y="44" width="70.8" height="4.8"/>
      <polygon fill="#008CBA" points="122.6,40.9 116.1,40.9 112.3,33.9 108.1,40.9 102,40.9 109.3,29.9 105.5,24.2 27.3,24.2 27.3,19.9 
        108.9,19.9 112.3,26.4 115.9,19.9 122,19.9 115.4,29.9 	"/>
    </g>
  </svg>
</div>
<div class="row">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Register</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
</div>
<div class="row mt-5">
  
</div>