<script>
    setTimeout(function () {
       // after 2 seconds
       window.location = "/";
    }, 2000)
  </script>

<div class="d-flex justify-content-center">
    <div>
        <h1>Oops!</h1>
        <h2>404 Not Found</h2>
        <div>Sorry, an error has occured, Requested page not found!</div>
        <div>
            <a href="/" class="btn btn-primary btn-lg">Take Me Home </a>
        </div>
    </div>
</div>
