<div>   
    <form action="../datatables" method="POST">
        <div class="form-floating pb-2">
            <input name="dataTableName" type="text" class="form-control" placeholder="Football DataTable" pattern="^[a-zA-Z].*" oninvalid="setCustomValidity('First character must be a letter')" oninput="setCustomValidity('')" required>
        </div>

        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" value="NameHome" readonly>
            <input name="fieldValue[]" type="text" class="form-control" placeholder="Home Team Name" required>
        </div>
        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" value="NameGuest" readonly>
            <input name="fieldValue[]" type="text" class="form-control" placeholder="Guest Team Name" required>
        </div>
        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" value="TrHome" readonly>
            <input name="fieldValue[]" type="text" class="form-control" placeholder="Home Team Name Abbreviation" required>
        </div>
        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" value="TrGuest" readonly>
            <input name="fieldValue[]" type="text" class="form-control" placeholder="Guest Team Name Abbreviation" required>
        </div>
        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" value="TrenHome" readonly>
            <input name="fieldValue[]" type="text" class="form-control" placeholder="Home Team Coach" required>
        </div>
        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" value="TrenGuest" readonly>
            <input name="fieldValue[]" type="text" class="form-control" placeholder="Guest Team Coach" required>
        </div>
        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" value="NameHomeMiestu" readonly>
            <input name="fieldValue[]" type="text" class="form-control" placeholder="Home Team city" required>
        </div>
        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" value="NameGuestMiestu" readonly>
            <input name="fieldValue[]" type="text" class="form-control" placeholder="Guest Team city" required>
        </div>
        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" value="Vieta" readonly>
            <input name="fieldValue[]" type="text" class="form-control" placeholder="Game place" required>
        </div>
        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" value="Data" readonly>
            <input name="fieldValue[]" type="text" class="form-control" placeholder="Game date" required>
        </div>
        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" value="Pavadinimas" readonly>
            <input name="fieldValue[]" type="text" class="form-control" placeholder="Game name" required>
        </div>
        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" value="Komentatorius" readonly>
            <input name="fieldValue[]" type="text" class="form-control" placeholder="Game commentator" required>
        </div>
        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" value="NameHomeMiestu2" readonly>
            <input name="fieldValue[]" type="text" class="form-control" placeholder="Value" required>
        </div>
        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" value="NameGuestMiestu2" readonly>
            <input name="fieldValue[]" type="text" class="form-control" placeholder="Value" required>
        </div>
        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" value="Teisėjas" readonly>
            <input name="fieldValue[]" type="text" class="form-control" placeholder="Game referee" required>
        </div>
        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" value="Teisėjas1a" readonly>
            <input name="fieldValue[]" type="text" class="form-control" placeholder="Game referee" required>
        </div>
        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" value="Teisėjas2a" readonly>
            <input name="fieldValue[]" type="text" class="form-control" placeholder="Game referee" required>
        </div>
        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" value="RTeisėjas" readonly>
            <input name="fieldValue[]" type="text" class="form-control" placeholder="Game referee" required>
        </div>
        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" value="NameHomeS" readonly>
            <input name="fieldValue[]" type="text" class="form-control" placeholder="Value" required>
        </div>
        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" value="NameGuestS" readonly>
            <input name="fieldValue[]" type="text" class="form-control" placeholder="Value" required>
        </div>

        <div class="d-flex justify-content-center mb-2">
            <button type="submit" class="btn btn-success">Create DataTable</button>
        </div>
    </form>    
</div>
