<script>
    $("document").ready(function(){
        $("#input-container").append($("#row-template").html());
        $("#addRowButton").on("click", function(){
            $("#input-container").append($("#row-template").html());
            deleteRowBtnListener()
        })

        function deleteRowBtnListener(){
            $(".deleteRowBtn").unbind().click(function(){
                if($(".input-group").length > 2) {
                    var r = confirm("You sure you want to delete this row?")
                    if(r == true) {
                        $(this).parent().remove()
                    }
                } 
            })
        }
    })
</script>

<h2 class="text-center mt-4">Create New DataTable</h2>
<div>   
    <form action="/datatables" method="POST">
        <div class="form-floating pb-2">
            <input name="dataTableName" type="text" class="form-control" placeholder="New DataTable Name" pattern="^[a-zA-Z].*" oninvalid="setCustomValidity('First character must be a letter')" oninput="setCustomValidity('')" required>
        </div>
        <div id="input-container"></div>
        <div class="d-flex justify-content-between mb-2">
            <button type="button" id="addRowButton" class="btn btn-primary">Add Row</button>
            <button type="submit" class="btn btn-success">Submit DataTable</button>
        </div>

    </form>    
</div>

<div style="display: none;">
    <div id="row-template">
        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" placeholder="Field name" pattern="^[a-zA-Z].*" oninvalid="setCustomValidity('First character must be a letter')" oninput="setCustomValidity('')" required>
            <input name="fieldValue[]" type="text" class="form-control" placeholder="Value" required>
            <button type="button" class="btn btn-warning deleteRowBtn">Delete</button>
        </div>
    </div>
</div>



