<script>
    $("document").ready(function(){

        $("#input-container").append($("#row-template").html());
        $("#addRowButton").on("click", function(){
            $("#input-container").append($("#row-template").html());
            deleteRowBtnListener()
        })

        function deleteRowBtnListener(){
            $(".deleteRowBtn").unbind().click(function(){
                if($(".input-group").length > 2) {
                    var r = confirm("You sure you want to delete this row?")
                    if(r == true) {
                        $(this).parent().remove()
                    }
                } 
            })
        }
    })
</script>

<div class="d-flex d-flex justify-content-between mt-4">
    <span></span>
    <h2 class="">Create New DataTable</h2>
    <div class="align-self-center" data-toggle="tooltip" data-placement="left" title="Place Holder">
        <svg width="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16" >
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>  
    </div>  
</div>
<div>   
    <form action="/datatables" method="POST">
        <div class="form-floating pb-2">
            <input name="dataTableName" type="text" class="form-control" placeholder="New DataTable Name" pattern="^[a-zA-Z].*" oninvalid="setCustomValidity('First character must be a letter')" oninput="setCustomValidity('')" required>
        </div>
        <div id="input-container"></div>
        <div class="d-flex justify-content-between mb-2">
            <button type="button" id="addRowButton" class="btn btn-primary">Add Row</button>
            <button type="submit" class="btn btn-success">Submit DataTable</button>
        </div>

    </form>    
</div>

<div style="display: none;">
    <div id="row-template">
        <div class="input-group pb-2 ">
            <input name="fieldName[]" type="text" class="form-control" placeholder="Field name" pattern="^[A-Za-z][A-Za-z0-9]+$" oninvalid="setCustomValidity('First character must be a letter with no spaces')" oninput="setCustomValidity('')" required>
            <textarea name="fieldValue[]" type="text" class="form-control" placeholder="Value" rows="1" style="word-break: break-word;" required></textarea>
            <button type="button" class="btn btn-warning deleteRowBtn">Delete</button>
        </div>
    </div>
</div>



